// ========================================== ICONS
// Uses Font Custom
// http://fontcustom.com/

@font-face {
  font-family: "icons";
  src: url("fonts/icons/icons.eot?#iefix") format("embedded-opentype"),
  url("fonts/icons/icons.woff") format("woff"),
  url("fonts/icons/icons.ttf") format("truetype"),
  url("fonts/icons/icons.svg#icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "icons";
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  display: inline-block;
  text-decoration: inherit;
  line-height: 1;
  text-decoration: inherit;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}

/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.333em;
}

/* keeps button heights with and without icons the same */
.btn [class^="icon-"], .btn [class*=" icon-"] {
  line-height: 0.9em;
}

li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  width: 1.25em;
  text-align: center;
}

/* 1.5 increased font size for icon-large * 1.25 width */
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  width: 1.875em;
}

li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}

li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}

li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.333em;
}

.icon-bookmark:before { content: "\f100"; }
.icon-discuss:before { content: "\f101"; }
.icon-latest:before { content: "\f108"; }
.icon-login:before { content: "\f10a"; }
.icon-logo:before { content: "\f102"; }
.icon-logout:before { content: "\f103"; }
.icon-promote:before { content: "\f104"; }
.icon-settings:before { content: "\f105"; }
.icon-share:before { content: "\f106"; }
.icon-trending:before { content: "\f109"; }
.icon-watch:before { content: "\f107"; }
