.DS_Store
dev-env/
mr-env/
mapreduce/nltk_data/
*.pyc
.sass-cache/
node_modules/
fontcustom/*
data/wiki/*.xml
mongodb/
*.swp
doc/_build
doc/_static
doc/_templates
dumps/
cluster/aws_config.ini
logger/logs/*.log
id_rsa
id_rsa.pub
config.py