<!DOCTYPE html>
<html>
<head>
    <title>Report</title>
    <style>
        html, body {
            font-family: "Helvetica", "Arial", "sans-serif";
            background: #fafafa;
            color: #222;
            margin: 0
        }

        a, a:visited {
            color: #09F;
            text-decoration: none;
            cursor: pointer;
        }

        header {
            background: #222;
            color: #fff;
            padding: 1em;
            font-size: 0.75em
        }
        .meta {
            float: right;
        }
        .meta .muted {
            color: #666;
            margin-left: 1em;
        }
        .strategy--header .meta {
            margin-top: 0.4em;
        }
        .result--header .meta,
        .clusterable--header .meta {
            margin-top: 0.1em;
        }

        h1, h2, h3 {
            display: inline;
            margin-right: 0.2em;
        }

        .stats, .overview, .results {
            padding: 2em;
        }

        .stats {
            background: #222222;
            text-align: center;
        }
        .stat {
            text-align: center;
            color: rgba(0,0,0,0.3);
            border-radius: 0.4em;
            padding: 2em 1em;
            margin: 0 0.5em 2em 0.5em;
            max-width: 100%;
            display: inline-block;
        }
        .best { background: #61DD9C; }
        .average { background: #8552C5; }
        .worst { background: #CE4E4E; }
        .stat--score {
            font-size: 2em;
            padding: 1em;
            color: #fff;
        }

        .overview--results {
            text-align: center;
        }
        .overview--result {
            display: inline-block;
            margin: 0.5em;
        }

        .strategy--header {
            border-bottom: 2px solid #0099FF;
            margin-top: 4em;
            background: #222;
            color: #fff;
            padding: 2em 1em;
        }
        .strategy-source {
            display: none;
            padding: 2em;
            background: #222;
            color: #fff;
        }

        .result {
            padding: 1em 0 0 0;
        }
        .result--header {
            background: #ECECEC;
            color: #404040;
            padding: 1em;
            cursor: pointer;
        }
        .expected,
        .clusterables {
            padding: 2em;
            background: #222;
            color: #fff;
        }
        .clusters,
        .clusterable--concepts {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            display: none;
            padding: 1em 0;
        }
        .clusters {
            text-align: center;
        }
        .cluster {
            background: #eaeaea;
            padding: 2em;
            margin: 1em 0;
            font-size: 0.75em;
            display: block;
            text-align: left;
            color: #222;

            break-inside: avoid-column;
            page-break-inside: avoid;
            -webkit-column-break-inside: avoid;
        }
        .cluster:first-child {
            margin-top: 0;
        }
        .cluster p:before {
            content: '>';
            color: #00ADFF;
            margin-right: 0.5em;
        }
        .cluster a {
            color: #222;
        }
        .clusterables {
            border-top: 2px solid #09F;
        }
        .clusterable--header {
            padding: 0.6em 0.5em 0.5em 0.6em;
            color: #fff;
            background: #09F;
            margin-top: 1em;
            margin-bottom: 0;
        }
        .clusterable--header .meta a {
            color: #fff;
        }
        .clusterable--body {
            background: #eaeaea;
            color: #222;
            font-size: 0.8em;
        }
        .clusterable--concepts,
        .clusterable--text {
            padding: 2em;
            display: none;
            margin: 0;
        }

        table, th, td {
            border: 1px solid #eee;
            border-collapse: collapse;
            padding: 0.5em;
        }
        th {
            background: #eaeaea;
        }
    </style>
</head>
<body>

    <header>
        {{ name }}
        <div class="meta">
            <span class="muted">Run on</span> {{ date }}
            <span class="muted">Using data at</span> {{ datapath }}
        </div>
    </header>

    <section class="stats">
        <div class="stat best">
            Best score
            <h4 class="stat--score">{{ best.score }}</h4>
            {{ best.composition }}
        </div>
        <div class="stat average">
            Average score
            <h4 class="stat--score">{{ average }}</h4>
            Across all compositions
        </div>
        <div class="stat worst">
            Worst score
            <h4 class="stat--score">{{ worst.score }}</h4>
            {{ worst.composition }}
        </div>
    </section>

    <section class="overview" id="overview">
        <h1>Overview</h1>
        <p>Clustered {{ clusterables|length }} clusterables.</p>
        <p>Expecting {{ expected|length }} clusters (<a href="#expected">view composition</a>).</p>

        <div class="overview--results">
            {% for strategy, results in all_clusters|dictsort %}
                <div class="overview--result">
                    <h2><a href="#{{ strategy }}">{{ strategy }}</a></h2>
                    <table>
                        <tr>
                            <th>Threshold</th>
                            <th>Score</th>
                            <th>Num. Clusters</th>
                        </tr>
                        {% for threshold, clusters in results|dictsort %}
                            <tr>
                                <td><a href="#{{ strategy }}-{{ threshold }}">{{ threshold }}</a></td>
                                <td>{{ all_scores[strategy][threshold] }}</td>
                                <td>{{ clusters|length }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="results">
        {% for strategy, results in all_clusters|dictsort %}
            <div class="strategy--header">
                <h1 id="{{ strategy }}">{{ strategy }}</h1>
                <a href="#overview">to top</a>
                <div class="meta">
                    <a onclick="toggle_visibility('{{ strategy }}-source');">view source</a>
                </div>
            </div>
            <div class="strategy-source" id="{{ strategy }}-source">
                <pre>{{ sources[strategy] }}</pre>
            </div>

            {% for threshold, clusters in results|dictsort %}
                <section class="result" id="{{ strategy }}-{{ threshold }}">
                    <div class="result--header" onclick="toggle_visibility('{{ strategy }}-{{ threshold }}-clusters');">
                        <h3>Threshold: {{ threshold }}</h3>
                        <a href="#overview">to top</a>
                        <div class="meta">
                            <span class="muted">Score:</span> {{ all_scores[strategy][threshold] }}
                            <span class="muted">Clusters:</span> {{ clusters|length }}/<a href="#expected">{{ expected|length }}</a>
                        </div>
                    </div>

                    <div class="clusters" id="{{ strategy }}-{{ threshold }}-clusters">
                        {% for cluster in clusters %}
                            <div class="cluster">
                                {% for member in cluster %}
                                    <p><a href="#{{ member.id }}">{{ member }}</a></p>
                                {% endfor %}
                            </div>
                        {% endfor %}
                </section>
            {% endfor %}
        {% endfor %}
    </section>

    <section class="expected" id="expected">
        <h2>Expected cluster composition</h2>
        <div class="clusters" style="display:block;">
            {% for cluster in expected %}
                <div class="cluster">
                    {% for member in cluster %}
                        <p><a href="#{{ member.id }}">{{ member }}</a></p>
                    {% endfor %}
                </div>
            {% endfor %}
        </div>
    </section>

    <section class="clusterables">
        <h2>Clusterable details</h2>
        {% for clusterable in clusterables %}
            <div class="clusterable">
                <div class="clusterable--header" id="{{ clusterable.id }}">
                    <h3>{{ clusterable.title }}</h3>
                    <div class="meta">
                        <a onclick="toggle_visibility('{{ clusterable.id }}-concepts');">view concepts</a>
                        <a onclick="toggle_visibility('{{ clusterable.id }}-text');">view text</a>
                    </div>
                </div>
                <div class="clusterable--body">
                    <ul class="clusterable--concepts" id="{{ clusterable.id }}-concepts">
                        {% for slug in clusterable.concept_slugs|sort %}
                            <li>{{ slug }}</li>
                        {% endfor %}
                    </ul>
                    <div class="clusterable--text" id="{{ clusterable.id }}-text">
                        {{ clusterable.text }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </section>

    <script type="text/javascript">
        function toggle_visibility(id) {
            var el = document.getElementById(id);
            if (el.style.display == 'block') {
                el.style.display = 'none';
            } else {
                el.style.display = 'block';
            }
        }
    </script>

</body>
</html>
