// ========================================== TYPE

body {
	font-size: 1em;
	line-height: 1.4;
}

.peta {
	font-size: 4em;
}

h1, .tera {
	font-size: 3em;
}

h2, .giga {
	font-size: 2.571em;
}

h3, .mega {
	font-size: 1.714em;
}

h4, .kilo {
	font-size: 1.286em;
}

h5, .centi {
	font-size: 1.143em;
}

h6 {
	font-size: 1em;
}

.milli {
	font-size: 0.857em;
}

.micro {
	font-size: 0.714em;
}
