if security.registerable or security.recoverable or security.confirmabled
    ul.list__horizontal.sessions--menu
      li
          a(href="{{ url_for_security('login') }}") Login
      if security.registerable
          li
            a(href="{{ url_for_security('register') }}") Register
      if security.recoverable
          li
            a(href="{{ url_for_security('forgot_password') }}") Forgot password
      if security.confirmable
          li
            a(href="{{ url_for_security('send_confirmation') }}") Confirm account
