extends layouts/main.jade
- from "security/_macros.html" import render_field_with_errors, render_field

block content
    .sessions.full-back
        .bounds
            .sessions-hello
                img(src='/img/logo.png')
                h1 Argos
                .creed Know more with less.
            .sessions-prompt Welcome back!
            form(action="{{ url_for_security('login') }}", method="POST", name="login_user_form")
                {{ login_user_form.hidden_tag() }}
                {{ render_field_with_errors(login_user_form.email) }}
                {{ render_field_with_errors(login_user_form.password) }}
                {{ render_field_with_errors(login_user_form.remember) }}
                {{ render_field(login_user_form.next) }}
                .form-actions
                    {{ render_field(login_user_form.submit) }}
            include security/_menu.jade
