- from 'mixins/events.jade' import event_item

extends layouts/main.jade

block content
    .heading
        h6.bounds= title

    .bounds
        if events|count == 0 and empty_msg
            .empty= empty_msg
        else
            for event in events
                +event_item(event, current_user)
