.sessions
    background: $primary-color
    color: #fff
    min-height: 100vh
    padding: 6em 0 2em 0

    .form--prompt
        text-align: center

    form
        max-width: 400px
        margin: 0 auto
        label
            color: rgba(0,0,0,0.4)
        input[type=text],
        input[type=password]
            width: 100%
        input[type=submit]
            background: rgba(0,0,0,0.4)
            color: #fff

.sessions--hello
    margin: 0 0 4em 0
    text-align: center
    img
        width: 120px
    h1
        margin: 0
    .creed
        color: rgba(0,0,0,0.4)

.sessions--menu
    text-align: center
    font-size: 0.8em
    a, a:visited
        color: rgba(0,0,0,0.4)
    li
        padding: 1em
