- from 'mixins/mentions.jade' import mentions
- from 'mixins/articles.jade' import articles
- from 'mixins/actions.jade' import actions
- from 'mixins/events.jade' import event_item

extends layouts/main.jade

block content
    .bounds
        article.page.clearfix
            .bounds.bounds-collapse-both
                - var image = concept.image if concept.image else '/img/missing.png'
                .page-hero(style='background-image:url("'+image+'")')
            .page-body.clearfix.bounds.bounds-collapse-right
                .page-content
                    section
                        +actions(['discuss', 'share', 'promote'])
                    header.page-header
                        .page-title.title= concept.name
                        .page-meta.meta
                            .meta-tags foo
                            .meta-time Last updated {{ concept.updated_at|natural_datetime }}
                    section.page-summary
                        if concept.summary
                            p= concept.summary|highlight_mentions(concept.mentions)|sanitize_html
                        else
                            p No summary yet
                        .page-meta.meta Data provided by DBPedia and Wikipedia.

                    +articles('Articles mentioning '+concept.name, concept.articles, articles_url=url_for('main.concept_articles', slug=concept.slug))

                    .heading.page-heading
                        | Latest events involving {{ concept.name }}
                    section.events
                        for event in concept.events
                            +event_item(event, current_user, summary_length=400)

                +mentions('Related concepts', concept.concepts)
