- from 'mixins/articles.jade' import articles

extends layouts/main.jade

block content
    article.page.clearfix
        .bounds
            - var title = entity.title if entity.title else entity.name
            .heading.page-heading Articles for {{ title }}
            +articles('', entity.articles, max=0)
